.addForm{
  display: flex;
  flex-direction: column;
  input{
    max-width: 250px;
  }
  label{
    font-weight: bold;
  }
  input[type=submit]{
    margin-top: 20px;
  }
}

#selectForm{
  textarea{
    width: 60%;
    font-weight: bold;
  }
  input[type=submit]{
    text-align: center;
    margin-left: 55%;
  }
}

#result{
  margin-top: 50px;
}
.error{
  color: red;
  font-weight: bold;
  font-size: 20px;
}